header {
    display: flex;

    justify-content:center;
    background-color: blanchedalmond;
    color: blue;
    background-color: #1f2937;

}
header p{
    color: blue;
    font-size: 30px;
    margin: 30px;
    
}

li{ list-style: none;}
html, body {
    margin: 0;
    padding: 0;
}
.logo {    
    color: white;
    flex:69% ;
    font-size: 40px;
}
    
a {
    margin: 30px;
    padding: 2PX;
    gap: 2px;
    display: flex;
    flex: 29%;
    font-size: 20px;
    margin-top: 20px;
    

}
li{
    display: inline-block;
   
}
.links{

    margin-right: 30px;
}


.boxes {
    display: flex;
    gap: 30px;
    font-size: 50x;
   
    
}
.boxes div{
    border: 2px solid black;

    
}

.intro-box{
    display: flex;
    align-items: center;
    
}

.awesome{
    margin: 10%;
}
h3{
    text-align: center;
}

.signup-box{
    margin: 70px;
    border: 2px solid red;
    align-items: center;
    text-align: center;
 
}
.signup-2{
    margin: 20px;
    
    
}
.boxx{
    margin: 2%;
}
.random{
    align-items: center;
    text-align: center;
}

button{ margin-left: 50%;}

.quote{
    text-align: center;

}


.quote p{

























